.venv
venv

build
submodules/*
samples/data
samples/model
samples/results
samples/lightning_logs
samples/pretrained_weights
samples/workspace
src/nanodet

*.egg-info
__pycache__

oss
third_party/nanodet/nanodet

setup_debug.py
.vscode/*
